atomicwrites==1.2.1
attrs==18.2.0
backcall==0.1.0
certifi==2018.8.24
chardet==3.0.4
Click==7.0
colorama==0.3.9
cycler==0.10.0
cymem==1.31.2
cytoolz==0.9.0.1
decorator==4.3.0
dill==0.2.8.2
en-coref-sm==3.0.0
falcon==1.4.1
graphviz==0.9
idna==2.7
ipykernel==5.0.0
ipython==7.0.1
ipython-genutils==0.2.0
jedi==0.13.1
jupyter-client==5.2.3
jupyter-console==6.0.0
jupyter-core==4.4.0
kiwisolver==1.0.1
matplotlib==3.0.0
more-itertools==4.3.0
msgpack==0.5.6
msgpack-numpy==0.4.4.1
murmurhash==0.28.0
neo4j-driver==1.6.2
neotime==1.7.0
networkx==2.2
-e git+https://github.com/huggingface/neuralcoref.git@8c266c4ec9a5532c4998a85a21fbf2bbfc3b1485#egg=neuralcoref
nltk==3.3
numpy==1.15.2
parso==0.3.1
pickleshare==0.7.5
plac==0.9.6
pluggy==0.7.1
preshed==1.0.1
prompt-toolkit==1.0.15
psutil==5.4.7
py==1.6.0
py2neo==4.1.0
Pygments==2.2.0
pyparsing==2.2.2
pyreadline==2.1
pytest==3.8.2
python-dateutil==2.7.3
python-igraph==0.7.1.post6
python-mimeparse==1.6.0
pytz==2018.5
pyzmq==17.1.2
regex==2017.4.5
requests==2.19.1
scipy==1.1.0
simplegeneric==0.8.1
six==1.11.0
spacy==2.0.13.dev2
stanfordcorenlp==3.9.1.1
thinc==6.10.3
toolz==0.9.0
tornado==5.1.1
tqdm==4.26.0
traitlets==4.3.2
ujson==1.35
urllib3==1.22
wcwidth==0.1.7
wrapt==1.10.11
